body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.button {
    border-radius: 2px;
    border: 1px solid rgba(163, 163, 163, 0.99);
    padding: 2px;
    background: linear-gradient(rgb(246, 246, 246), rgb(221, 221, 221));
    text-decoration: initial;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
}

#main_configuration_container.main_container,
#test_suite_configuration_container.main_container {
    border: 2px solid#A4B7BE;
    border-radius: 4px;
    padding: 10px;
    max-width: 1400px;
    margin: 0 auto;
    min-width: 700px;
}

#test_suite_configuration_container.main_container {
    height: 500px;
}

#main_configuration_container.main_container {
    text-align: center;
}

#main_configuration_container input {
    width: 45%;
}

#footer{
    width: 800px;
    height: 40px;
    margin: 0 auto;
}

.footer-box{
    float: left;
    color: #004B94;
    border: 1px solid #BBE0FF;
    margin: 2px;
    border-radius: 2px;
    padding: 2px;
    background-color: rgba(127, 206, 247, 1);
}

.footer_param{
    padding: 0;
    margin: 0;
    color: #00901D;
}

.description{
    float: left;
    overflow: auto;
    /*resize: none;*/
    height: 242px;
    width: 394px;
    margin-top: 10px;
}

#test_suite_list_area.container{
    height: 200px;
    width: 400px;
    float: right;
}

#test_suite_list_area .test_suite_list{
    width: 339px;
    height: 22px;
}

#test_suite_list_area .update_list{
    float: right;
}

dialog {
    border: none;
    background: transparent;
}

.modal-dialog{
    width: 600px;
}

.modal-content{
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-header{
    height: 15px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-title {
    margin: 0;
}

#list_of_suits.container {
    border: 1px solid #e5e5e5;
    padding-top: 5px;
    padding-bottom: 5px;
    float: top;
    margin-top: 5px;
    margin-bottom: 5px;
}

#log {
    float: top;
    margin-top: 5px;
    margin-bottom: 5px;
}

.label {
    float: top;
    display: block;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button_container {
    float: top;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

#run_test_suits.container {
    margin-top: 10px;
    float: left;
    vertical-align: bottom;
}
