extends layout

block content
    h1= title
    p Welcome to #{title}
    p
        a(class='button', href='http://localhost:3000/config') go to config
    p
        a(class='button', href='http://localhost:3000/test_suite') go to test_suite